.body-center {
    background: white;
    box-shadow:0 0 10px 2px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition:all 1s;
}

.main {    
    background: white;
    grid-column: 2/5;
}
