.create-question-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.create-question-title { 
    font-size: 1.2em;
    font-family: 'RobotoCondensed';
    color: #444444;
    text-align: center;
    border: double 4px white;
    padding: 5px;  
    grid-column: 2/4;
}

.create-question-field {
    grid-column: 1/5;
    text-overflow: ellipsis;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid 2px #444444;

}

.question-field {
    border: solid 2px #f30067;
}

.create-question-radio-group {
    grid-column: 2/4;
    padding: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: white;
}

.create-question-btn {
    margin-top: 10px;
    grid-column: 2/4;
    margin-bottom: 10px;
}