.create-question-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius: 15px;
    padding: 20px;
}

.create-question-title { 
    font-family: 'RobotoCondensed';
    background: white;
    color: #444444;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.0em;
    grid-column: 2/4;
}

.create-question-field {
    grid-column: 1/5;
    text-overflow: ellipsis;
    padding: 5px;
    margin-bottom: 10px;
}

.create-question-radio-group {
    grid-column: 2/4;
    padding: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: white;
}

.create-question-btn {
    margin-top: 10px;
    grid-column: 2/4;
}