@font-face {
    font-family: 'RobotoCondensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

.header {
    grid-column: 1/6;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background: #444444;
}

.header-text {
    color: white;
    margin-top: 10px;
    font-family: 'RobotoCondensed';
    font-size: 1.8em;
    grid-column: 1/5; 
}

.header-link {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 1em;
    border: solid 1px rgba(179, 179, 179, 0.459);
    text-decoration: none;
    background: white;
    color: black;
}

.header-link:visited {
    color: black;
}

.header-link:hover {
    background: #fdfdfd;
    border: double 1px #f30067;
}

.home {
    grid-column: 2/3;
}

.new-question {
    grid-column: 3/4;
}
