@font-face {
    font-family: 'RobotoCondensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

.header {
    grid-column: 1/6;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: #f30067;
    border-bottom: double 5px rgb(255, 255, 255);
}

.header-text {
    color: white;
    font-size: 1.2em;
    grid-column: 4/8; 
    margin-bottom: 5px;
}
.header-title {
    color: white;
    margin-top: 10px;
    font-family: 'RobotoCondensed';
    font-size: 2.1em;
    grid-column: 4/8; 
}


.header-link {
    margin-bottom: 10px;
    font-size: .9em;
    margin-right: 5px;
    border: solid 1px rgba(179, 179, 179, 0.459);
    text-decoration: none;
    padding: 2px;
    background: white;
    color: black;
}

.header-link:visited {
    color: black;
}

.header-link:hover {
    background: #fdfdfd;
    border: double 1px #f30067;
}

.home {
    grid-column: 5/6;
}

.new-question {
    grid-column: 6/7;
}

.search-component {
    grid-column: 1/11;
}

.search-icon {
    height: 30px;
    width: 30px;
}

.search-icon:hover {
    
    height: 31px;
    width: 31px;
}

.search-input {
    vertical-align: top;
    padding: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
}
