.header {
    grid-column: 1/4;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    color: white;
    background: linear-gradient(to right, #07c5c5, #20e3b2);
    padding: 15px;
}

.header-text {
    font-size: 1.4em;
    grid-column: 1/5; 
    grid-row: 1/1;
}

.header-link {
    grid-row: 2/2;
    font-size: 1.0em;
    border: solid 1px rgba(119, 119, 119, 0.459);
    text-decoration: none;
    background: white;
    color: black;
}

.header-link:visited {
    color: black;
}

.header-link:hover {
    background: rgb(247, 247, 247);
    border: solid 1px rgb(58, 58, 58);
}

.home {
    grid-column: 2/3;
}

.new-question {
    grid-column: 3/4;
}
