@font-face {
    font-family: 'RobotoCondensed';
    src: url(../Fonts/RobotoCondensed-Bold.ttf);
}

.question-list-header-text {
    font-size: 1.4em;
    font-family: 'RobotoCondensed';
    color: #444444;
    text-align: center;
    border: double 4px white;
    margin-bottom: 10px;    
}
.no-questions-warning {
    font-size: 1.4em;
    font-family: 'RobotoCondensed';
    color: white;
    background: #f30067;
    text-align: center;
    border: double 4px white;
    padding: 5px;
    margin-bottom: 10px;    
}

.question-list-filter-input {
    padding: 3px;
    margin-bottom: 10px;
}