.question-item {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    text-overflow: ellipsis; 
    overflow: hidden;
    grid-column-gap: 10px;
}

.question-body-container {
    grid-column: 1/5;
    text-align: left;
    background: white;
    padding: 5px;
    border: dashed 1px #444444;
}

.question-edit-body {
    text-align: center;
    grid-column: 1/6;
}

