.edit-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.update-question-edit-field { 
    grid-column: 1/4;
    text-overflow: ellipsis;
    padding: 5px;
    margin-left: 4px;
}

.edit-radio-group {
    margin-top: 10px;
    background: rgb(247, 247, 247);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.edit-btn-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.edit-choice-label {
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
}

.edit-choice-id {
    text-align: right;
    grid-column: 1/4;
}